html, body{
	min-height: 3151px;
	min-width: 1200px;
}
body{
	margin: 0px;
	padding: 0px;
	font-style: normal;
	font-family: 'Cuprum';
	background: url("C:/Users/Inozema/Documents/GitHub/152215-technomart/technomart-index.jpg") no-repeat 50% 0px;
  background-size: 1200px;
}
h1{
	font-size: 36px;
	text-transform: uppercase;
	color: #ffffff;
}
h2{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}

h3{
	font-size: 30px;
	text-transform: uppercase;
	color: #000000;
}
a{
	text-decoration: none;
	text-transform: uppercase;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.main-header{
	background-color: rgba(255,213,154,0.1);
	content:'.main-header';
	min-height: 320px;
	margin-bottom: 60px;
}
.container{
	
	width: 940px;
	margin: 0 auto;
	padding: 0px 10px;
}
.header-top-menu{
	background-color: rgba(255,213,19,0.5);
	min-height: 42px;
}
.header-info{
	border-top: 1px solid transparent;
	min-height: 278px;
	background-color: brown;
	opacity: 0.5;
}
.header-about{
	background-color: rgba(125,223,19,0.5);
	min-height: 85px;
	margin-top: 30px;
	margin-bottom: 45px;
}
.column-3{
	width: 300px;
	float: left;
	margin-right: 20px;
}
.column-3:last-child{
	margin-right: 0;
}

.main-navigation{
	background-color: rgba(0,21,190,0.5);
	min-height: 60px;
}
.main-features{
	background-color: rgba(0,21,190,0.5);
	margin-bottom: 55px;
}
.section-popular{
	margin-bottom: 20px;
}
.section-brands{
	background-color: yellow;
	opacity: 0.1;
	min-height: 380px;
	margin-bottom: 85px;
}
.main-service{
	min-height: 520px;
	padding: 0 25px;
	margin-bottom: 80px;
}
.features-item{
	float: left;
	margin-bottom: 20px;
	width: 300px;
	height: 123px;
	background-color: yellow;
	opacity: 0.5;
}
.features-item:nth-child(1),
.features-item:nth-child(2){
	margin-right: 20px;
}
.features-item:last-child{
	margin-bottom: 0px;
}
.slider{
	float: left;
	width: 620px;
	height: 266px;
	margin-right: 20px;
}
.section-title{
	margin-bottom: 20px;
	padding:0px 30px;
}
.section-title>h2{
	float:left;
	width: 600px;
}
.section-title > a{
	float: right;
}

.section-content{
	font-size: 0px;
}
.popular-item{
	display: inline-block;
	vertical-align: top;
	width: 220px;
	min-height: 320px;
	margin-right: 20px;
}
.popular-item:last-child{
	margin-right:0px;
}
.catalog-brand{
	display: inline-block;
	vertical-align: top;
	height: 145px;
	width: 220px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.btn{
	background-color: #ee3643;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 20px;
	width: 213px;
	text-align: center;
}

.catalog-brand:nth-child(4n){
	margin-right: 0px;
}
.catalog-brand:nth-child(n+4){
	margin-bottom: 0px;
}
.service-title{
	
}
.service-menu{
	float:left;
	width:300px;
}
.service-slider{
	float:right;
	width:620px;
}
.column-left{
	background-color: yellow;
	opacity: 0.5;
	float:left;
	width:540px;
}
.column-right{
	background-color: orange;
	opacity: 0.5;
	float:right;
	width:300px;
}